<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Daftar Menu Makanan</title>
    <link rel="stylesheet" href="app.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>


<body>
    <form action="/review_count" method="GET">
        <p>halo</p>
        <p><%= review_count %> </p> 
    </form>

    <div class="title">
        <h4><span>Makan Banyak Mengenyangkan</span>Daftar Menu</h4>
    </div>

    <div class="container">
        <div class="InputMenu">
            <h2>Input Menu Baru </h2><br>
            <form action="/menu" method="POST">
                <input type="text" placeholder="jenis" name="jenis">
                <input type="text" placeholder="nama" name="nama">
                <input type="text" placeholder="deskripsi" name="deskripsi">
                <input type="text" placeholder="harga" name="harga">

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>


    <div class="box-menu">
        <h2> Menu Makanan </h2>
        <ul class="menus">
            <!-- Loop through quotes -->
            <% for(var i = 0; i < menu.length; i++) {%>
                <%if (menu[i].jenis[0] == 0) { %>
                    <li class="menu">
                        <span><b><%= menu[i]._id %></b></span> <br>
                        <span><%= menu[i].deskripsi[0] %></span> <br> Rp <span><%= menu[i].harga[0] %></span> <br><span>Rating : </span><%= menu[i].ratingAvg %></span> <br>
                        <button id="edit-button" data-ref="<%= i %>">Edit</button>
                        <button id="delete-button" data-name="<%= menu[i]._id %>" data-ref="<%= i %>">Delete</button>
                        <br>
                        <br>

                        <div id="input-form_<%= i %>" style="display: none;">
                            <form action="/menu-update" method="POST">
                                <input type="hidden" name="nama" value="<%= menu[i]._id %>">
                                <input type="text" placeholder="deskripsi" name="deskripsi">
                                <input type="text" placeholder="harga" name="harga">

                                <button type="submit">Submit</button>
                            </form>
                        </div>
                        <br>
                        <br>
                    </li>
                    <% } %>
            <% } %>
        </ul>
        <br>
        <h2> Menu Minuman </h2>
        <ul class="menus">
            <!-- Loop through quotes -->
            <% for(var i = 0; i < menu.length; i++) {%>
                <%if (menu[i].jenis[0] == 1) { %>
                    <li class="menu">
                        <span><b><%= menu[i]._id %></b></span> <br>
                        <span><%= menu[i].deskripsi %></span> <br> Rp <span><%= menu[i].harga %></span> <br><span>Rating : </span><span><%= menu[i].ratingAvg %></span> <br>
                        <button id="edit-button" data-ref="<%= i %>">Edit</button>
                        <button id="delete-button" data-name="<%= menu[i].nama %>" data-ref="<%= i %>">Delete</button>
                        <br>
                        <br>

                        <div id="input-form_<%= i %>" style="display: none;">
                            <form action="/menu-update" method="POST">
                                <input type="hidden" name="nama" value="<%= menu[i]._id %>">
                                <input type="text" placeholder="deskripsi" name="deskripsi">
                                <input type="text" placeholder="harga" name="harga">

                                <button type="submit">Submit</button>
                            </form>
                        </div>
                        <br>
                        <br>
                    </li>
                    <% } %>
            <% } %>
        </ul>
    </div>


    <script src="/main.js"></script>
</body>

</html>