<!-- menu.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Pesan Makanan Kesukaan Kamu</title>
    <link rel="stylesheet" href="menu-review.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
    <div class="title"><br>
        <h4><span>Makan Banyak Mengenyangkan</span>Daftar Menu</h4>
    </div>

    <div class="makanan">
        <h2>Makanan</h2> <br>
        <ul class="menus">
            <% for(var i = 0; i < menu.length; i++) {%>
                <%if (menu[i].jenis == 0) { %>
                    <li class="hidangan">
                        <span><b><%= menu[i].nama %></b></span> <br>
                        <span><%= menu[i].deskripsi %></span> <br> Rp <span><%= menu[i].harga %></span> <br>
                        <form action="/review" method="POST">
                            <input type="hidden" name="name" value="<%= menu[i].nama %>">
                            <button type="submit">Lihat Review</button>
                        </form>
                        <br>
                    </li>
                    <% } %>
                        <% } %>
        </ul>
    </div>

    <div class="minuman">
        <h2>Minuman</h2> <br>
        <ul class="menus">
            <% for(var i = 0; i < menu.length; i++) {%>
                <%if (menu[i].jenis == 1) { %>
                    <li class="hidangan">
                        <span><b><%= menu[i].nama %></b></span> <br>
                        <span><%= menu[i].deskripsi %></span> <br> Rp <span><%= menu[i].harga %></span> <br>
                        <form action="/review" method="POST">
                            <input type="hidden" name="name" value="<%= menu[i].nama %>">
                            <button type="submit">Lihat Review</button>
                        </form>
                        <br>
                    </li>
                    <% } %>
                        <% } %>
        </ul>
    </div>


    <div class="pesan">
        <form action="/pemesanan" method="GET">
            <input type="hidden" name="nama" value="nama">
            <button type="submit">Pesan Sekarang</button>
        </form>
    </div>


    <script src="/main.js"></script>
</body>

</html>