<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Review By Rating</title>
    <link rel="stylesheet" type="text/css" href="/review-by-rating.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js">
    </script>
</head>

<body>
    <br>
    <h2>Makan Banyak Mengenyangkan</h2>

    <div>
        <h3>Review Hidangan</h3> <br>
        <ul class="reviews">
            <% if (review[0].reviews !== undefined) {%>
                <% for(var i = 0; i < review.length; i++) {%>
                    <li class="review">
                        <span><b>Rating:</b> </span>
                        <%= review[i].reviews.rating%><br>
                            <% if (review[i].reviews.nama !== undefined) {%>
                                <span><b>Reviewer:</b> </span>
                                <%= review[i].reviews.nama%><br>
                                    <% } %>
                                        <% if (review[i].reviews.komentar !== undefined) {%>
                                            <span><%= review[i].reviews.komentar%></span><br>
                                            <% } %>
                                                <br>
                    </li>
                    <% } %>
                        <% } else { %>
                            <span><b>Belum ada review</b> </span><br><br>
                            <% } %>
        </ul>
        <div class="byrating">
            <% for(var i = 1; i < 6; i++) {%>
                <form action="/review/review-by-rating" method="POST">
                    <input type="hidden" name="nama_hidangan" value="<%=review[0].nama_hidangan%>">
                    <input type="hidden" name="rating" value="<%=i%>">
                    <button type="submit"><%=i%></button>
                </form>
                <% } %>
        </div>

        <div class="back">
            <form action="/review/review-by-rating" method="GET">
                <input type="hidden" name="name" value="name">
                <button type="submit">Back</button>
            </form>
        </div>


    </div>

    <script src="/main.js"></script>
</body>

</html>