<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Review</title>
    <link rel="stylesheet" href="review-page.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
    <h2>Review Hidangan</h2>
    <h3>Review ini diberikan oleh pelanggan kami</h3> <br>
    <div>
        <% if (review.length !== 0) {%>
            <div class="review">
                <ul class="reviews">

                    <% for(var i = 0; i < review.length; i++) {%>
                        <% for(var j = 0; j < review[i].reviews.length; j++) {%>
                            <li class="review">
                                <span><b>Rating:</b> </span>
                                <%= review[i].reviews[j].rating%><br>
                                    <% if (review[i].reviews[j].nama !== undefined) {%>
                                        <span><b>Reviewer: </b></span>
                                        <%= review[i].reviews[j].nama%><br>
                                            <% } %>
                                                <% if (review[i].reviews[j].komentar !== undefined) {%>
                                                    <span><%= review[i].reviews[j].komentar%></span><br>
                                                    <% } %>
                                                        <br>
                            </li>
                            <% } %>
                                <% } %>
                </ul>
            </div>

            <div id="outer">
                <% for(var i = 1; i < 6; i++) {%>
                    <form action="/review/review-by-rating" method="POST">
                        <input type="hidden" name="nama_hidangan" value="<%=review[0].nama_hidangan%>">
                        <input type="hidden" name="rating" value="<%=i%>">
                        <div class="inner"><button type="submit"><%=i%></button></div>

                    </form>
                    <% } %>
            </div>
            <% } else { %>
                <span><b>Mohon maaf, menu ini belum memiliki review</b> </span><br><br>
                <% } %>

                    <div class="back">
                        <form action="/review" method="GET">
                            <input type="hidden" name="name" value="name">
                            <button type="submit">Back</button>
                        </form>
                    </div>

    </div>

    <script src="/main.js"></script>
</body>

</html>