<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Pemesanan</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    </head>

    <body>
        <h2>Selamat Datanggggg</h2> <br>

        <div>
            <h3>Makanan</h3> <br>
            <ul class="menus">
                <% for(var i = 0; i < menu.length; i++) {%>
                    <%if (menu[i].jenis == 0) { %>
                        <li class="menu">
                            <span><%= menu[i].nama %></span> <br>
                            <span><%= menu[i].deskripsi %></span> <br>
                            Rp <span><%= menu[i].harga %></span> <br>
                            <input id="demoInput_<%= i %>" placeholder=0 data-name = "<%= menu[i].nama %>" type=number min=0 max=110>
                            <button data-ref = "<%= i %>" id="increment-button">+</button>
                            <button data-ref = "<%= i %>" id="decrement-button">-</button>
                            <br>
                        </li>
                    <% } %>
                <% } %>
            </ul>

            <h3>Minuman</h3> <br>
            <ul class="menus">
                <% for(var i = 0; i < menu.length; i++) {%>
                    <%if (menu[i].jenis == 1) { %>
                        <li class="menu">
                            <span><%= menu[i].nama %></span> <br>
                            <span><%= menu[i].deskripsi %></span> <br>
                            Rp <span><%= menu[i].harga %></span> <br>
                            <input id="demoInput_<%= i %>" placeholder=0 data-name = "<%= menu[i].nama %>" type=number min=0 max=110>
                            <button data-ref = "<%= i %>" id="increment-button">+</button>
                            <button data-ref = "<%= i %>" id="decrement-button">-</button>
                            <br>
                        </li>
                    <% } %>
                <% } %>
            </ul>

            <button id="order-button" type="submit">Pesan</button>

        </div>

        <script src="/main.js"></script>
    </body>
</html>